body {
  margin: auto;
}

.Status1, .Status11, .Status2 ,.Status22 , .Status3,.Status33, .Status333 {
  display: none;
}


h1, h3, h5 {
  text-align: center;
}

#main {
  display: flex;
  width: 100%;
}


/* Absolute Center Spinner */
.loading {
  position: relative;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 20px;
  left: 0;
  padding-bottom: 30px;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h3, h4 {
  text-align: center;
}

.pagamento {
  color: red;
}

/* MENU RESPONSIVO */

.menuResponsivo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  height: 100%;
}

#checkbox-menu {

  opacity: 0;
  align-self: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.menuHamburguer {
  display: none;
}

.headerLabel {
  cursor: pointer;
  position: relative;
  display: flex;
  height: 38px;
  width: 38px;
  /* align-self: center; */
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  border: #00c4ff 2px solid;
  margin: 10px;
  right: 54px;
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 70%;
  border-radius: 30px;
  background-color: dodgerblue;
  cursor: pointer;
  /* transition: 1s ease-out; */
}

label span:nth-child(2) {
  top: 24px;
}

label span:nth-child(3) {
  top: 8px;
}

label span:nth-child(1) {
  top: 16px;
}

.menuHiden {
  display: flex;
  flex-direction: column;
}


.menuResponsivo ul {
  transition: 0.5s ease-in;
  list-style-type: none;
  /* border: 1px solid dodgerblue; */
  padding: 0;
  height: 100%;
  left: 0px;
  background-color: black;
  color: azure;
  font-weight: 600;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.menuResponsivo ul li {
  padding: 5px;
  cursor: pointer;
  border: 2px solid grey;
}

a {
  text-decoration: none;
  color: inherit;
}

#checkbox-menu:checked+label span:nth-child(3) {
  transition: 0.2s ease-in;
  transform: rotate(45deg);
  top: auto;
}

#checkbox-menu:checked+label span:nth-child(1) {
  opacity: 0;
  transition: 0s;
}

#checkbox-menu:checked+label span:nth-child(2) {
  transition: 0.2s ease-in;
  transform: rotate(-45deg);
  top: auto;
}

.painelHeader {
  display: flex;
  background: rgb(0, 0, 0);
  justify-content: center;
  color: rgb(255, 123, 0);
}

.painelHeader h3 {
  margin: 10px;
}

#Nomeuser {
  margin-left: 10px;
}

.apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 4px solid black;
}

.apps img {
  width: 50px;
  padding: 15px;
  border: 1px solid blue;
  margin: 5px;
  border-radius: 10px;
}

.apps img:hover {
  /* border: black 5px solid; */
  cursor: pointer;
}

.lock {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: none;
}

.lock:hover {
  opacity: 1;
}

footer {
  background-color: black;
  color: orangered;
}

footer h2, h1 {
  text-align: center;
  margin-top: auto;
}

footer p {
  text-align: end;
}



.bounce {
  display: flex;
	margin: 50px;
	width: 60px;
	height: 60px;
	/* background: rgba(221, 51, 51, 0.54); */
	border: solid 4px #fff;
	text-align: center;
	
	position: relative;
	margin-left: -30px;
	margin-top: 30px;
}


.bounce span {

	display: inline-block;
	position: relative;
	/* background: #c0392b; */
	width: 15px;
	height: 15px;
	margin: 0 auto;
	border-radius: 50%;
  padding: 10px;
}

.bounce span:nth-child(1){
	animation: bounce 2s cubic-bezier(0.21, 3.09, 0.06, 2.34) infinite;
}
.bounce span:nth-child(2){
	animation: bounce 2s cubic-bezier(0.21, 3.09, 0.06, 2.34) infinite 0.5s;
	
}
.bounce span:nth-child(3){
	animation: bounce 2s cubic-bezier(0.21, 3.09, 0.06, 2.34) infinite 1s;
	
}
.bounce span:nth-child(4){
	animation: bounce 2s cubic-bezier(0.21, 3.09, 0.06, 2.34) infinite 1.5s;
	
}
.bounce span:nth-child(5){
	animation: bounce 2s cubic-bezier(0.21, 3.09, 0.06, 2.34) infinite 2s;
	
}
.bounce span:nth-child(6){
	animation: bounce 2s cubic-bezier(0.21, 3.09, 0.06, 2.34) infinite 2.5s;
	
}
.bounce span:nth-child(7){
	animation: bounce 2s cubic-bezier(0.21, 3.09, 0.06, 2.34) infinite 3s;
	
}


@keyframes bounce{
	0%{
		transform: translateY(0px);
	}
	50% {
		transform: translateY(6px);
	}		
	100%{
		transform: translateY(0px);
	}
}







.mobileSimulator * {
  /* margin: 0;
  padding: 0;
  bottom: 0; */
  box-sizing: border-box;
}

.mobileSimulator {
  display: none;
}

.backDrop button {
  border-radius: 10px;
  height:3vh;
}

#device {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  border: solid 18px black;
  border-radius: 40px;
  margin: 0 auto;
  box-shadow: 4px 10px 80px;
  overflow: hidden;
  transition: .5s;
  top: 5%;
  left: 35%;
  z-index: 1;
  width: 90%;
  height: -webkit-fill-available;
}

#chin {
  width: 150px;
  height: 20px;
  border: solid 20px black;
  position: relative;
  top: -30px;
  border-radius: 30px;
  z-index: 5;
  transition: 6s
}

#device--content {
  width: 100%;
  background: #ffffff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
  transition-delay: .2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

#device--content h1 {
  margin-top: 0;
  padding-top: 10px;
}

#device--content h3 {
  color: rgb(69, 240, 57);
  background-color: rgb(251, 253, 253);
  border: 1px solid darkblue;
  border-radius: 25px;
  font-size: x-large;
  padding: 10px;
}

#device--content img {
  align-self: center;
  display: flex;
  margin: auto;
  width: 90%;
}



.phone {
  width: 300px;
  height: 600px;
  transform: translate (0, 0) scale(1) rotate(0deg);
}

.phone #device--content {
  width: 100%;
}

.phoneP {
  width: 300px;
  height: 600px;
  transform: rotate(90deg);
}

.phoneP #device--content {
  transform: translate(-20px, -55px) rotate(-90deg);
  width: 600px;
}

.tablet {
  width: 800px;
  height: 400px;
  transform: translate (0, 0) scale(0.8);
}

.tablet #chin {
  height: 0;
  border: 0;
}

.desktop {
  width: 1200px;
  height: 900px;
  transform: translate(-180px, -190px) scale(0.5);
}

.tv {
  width: 800px;
  height: 400px;
  transform: translate(10px);
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  background: black;
  padding: 5px;
  width: 100%;
}

.backDrop {
  width: 100%;
  height: 100%;
  background-color: #aeffffd9;
  position: absolute;
  display: flex;
  flex-direction: column;

}


@media screen and (max-width:500px) {

  #device {
    top: 5%;
    left: 5%;

  }
}
